.menu-hero img {
  width: 100%;
  height: 250px;
  object-fit: cover;

  @include desktop {
    height: 440px;
    width: 100%;
    transform: scale(1.00);
  }
}

.menu {
  position: relative;
  background-color: $color-grey-light;
  border-radius: 20px 20px 0 0;
  margin-top: -20px;
  padding: 25px 20px 40px;

   @include desktop {
    width: calc(100% - 320px);
    margin: -35px auto 0;
    padding: 40px 180px 60px;
  }
}

.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.menu__title h1 {
  font-size: 28px;
}

.menu__group {
  margin-bottom: 30px;
}

.menu__group h2 {
  font-family: $font-text;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 11px;
}

.menu__group h2::after {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background-color: $color-tertiary;
  margin-top: 8px;
}

.dish-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dish-item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: $color-white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fade-in-up 0.8s ease forwards;
}

.dish-item:nth-child(1) { animation-delay: 0.2s; }
.dish-item:nth-child(2) { animation-delay: 0.5s; }
.dish-item:nth-child(3) { animation-delay: 0.8s; }

.dish-item__name {
  font-family: $font-text;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 4px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dish-item__description {
  font-family: $font-text;
  font-weight: 300;
  font-size: 14px;
  color: $color-grey-medium;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dish-item__price {
  font-family: $font-text;
  font-weight: 700;
  font-size: 16px;
  margin-left: 15px;
  flex-shrink: 0;
}


