// Couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-white: #FFFFFF;
$color-black: #000000;
$color-grey-light: #EAEAEA;
$color-grey-medium: #7E7E7E;
$color-grey-dark: #353535;
$color-green: #008766;

// Polices
$font-title: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;